
.gitignore.txt
.vs/

AnchorPointWebSolutionsLandingPage.Server/obj/
AnchorPointWebSolutionsLandingPage.Server/bin/

anchorpointwebsolutionslandingpage.client/obj/
anchorpointwebsolutionslandingpage.client/bin/
